Win32/Tombo/Tombo.ncb
Win32/Tombo/Tombo/Debug
Win32/Tombo/Tombo/Release
Win32/Tombo/debug
Win32/Tombo/release

UnitTest/UnitTest/Debug
UnitTest/UnitTest/Release
UnitTest/debug
UnitTest/release

*.suo
*.ncb
